<!doctype html>
<html lang="en">

<head>
  <title>Birthday Reminder</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="https://th.bing.com/th/id/OIG.y6gdvKPCX4jaymCeP2Jj?pid=ImgGn" alt="logo" height="50" width="50"/>
            </a>
            <a class="navbar-brand" href="#"><h3>Birthday Reminder</h3></a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>  

            <!-- <a class="navbar-brand" href="#">
              <img
            alt=""
            class="d-inline-block align-text-top"
            height="50"
            src="https://th.bing.com/th/id/OIG.y6gdvKPCX4jaymCeP2Jj?pid=ImgGn"
            width="50"/>  -->

            <div class="collapse navbar-collapse" id="collapsibleNavId"> 
              <ul class="navbar-nav ms-auto">
                  <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reminders</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="#">My Reminders</a>
                          <a class="dropdown-item" href="#">Add Reminder</a>
                      </div>
                  </li>
                </ul>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('register')}}">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Log Out</a>
                  </li>
                </ul>
        
                <!-- <form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text"
                    placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0"
                    type="submit">Search</button>
                </form> -->
  
            </div>
      </div>
    </nav>

  </div>
</div>

</main>
  <footer>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
    
</header>
<main>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://th.bing.com/th/id/OIG.qc2bYX14zAWTsnhKOV0T?pid=ImgGnn"
            class="img-fluid" alt="image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Sign in</h2>
              <div class="form-outline mb-4">

            <!-- Email input -->
          <form method="post">
              {{ form.csrf_token }}
            <div class="col-auto">
              {{form.email(class="form-control")}}
              <small id="emailHelpId" class="form-text text-muted">Enter username</small>
            </div>
  
            <!-- Password input -->
            <div class="col-auto">
              {{form.password(class="form-control")}}
              <small id="passwordHelpId" class="form-text text-muted">Enter password</small>
            </div>
      
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="remember" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>      
                <p class="text-muted mt-5 mb-0">Don't have an account? <a href="{{url_for('register')}}"
                  class="fw-bold text-body"><u>Register</u></a></p> 
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>

